# [Boosters] Raiffeisen Data Cup. Baseline
Общий подход:
- Добавляем к каждой транзакции столбец: is_work (если транзакция находится в пределах 0.02 от дома клиента)
- Добавляем к каждой транзакции столбец: is_home (если транзакция находится в пределах 0.02 от работы клиента)
- Обучаем классификатор предсказывающий вероятность (is_home == 1) для транзакции
- Обучаем классификатор предсказывающий вероятность (is_work == 1) для транзакции

Точность определения местоположения:
- для классификатора is_home: ~3x%
- для классификатора is_work: ~2x%
- общая оценка на Public Leaderboard: ???

Примечание
* Требуется Python версии 3.5
* Требуется библиотека xgboost (для обучения использовалась xgboost версии 0.7.post3)
* Требуются файлы: test_set.csv, train_set.csv в одном каталоге с данным скриптом
* Требования к памяти: должно работать с 2Гб свободного RAM
* Время работы: ~3 минуты (тестировалось на процессоре Intel Core i7-4770)

In [29]:
import pandas as pd
import numpy as np
import datetime
import pickle

from catboost import CatBoostClassifier
import sklearn

from sklearn.model_selection import train_test_split

In [88]:
# Определим типы колонок для экономии памяти
dtypes = {
    'transaction_date': str,
    'atm_address': str,
    'country': str,
    'city': str,
    'amount': np.float32,
    'currency': np.float32,
    'mcc': str,
    'customer_id': str,
    'pos_address': str,
    'atm_address': str,
    'pos_adress_lat': np.float64,
    'pos_adress_lon': np.float64,
    'pos_address_lat': np.float64,
    'pos_address_lon': np.float64,
    'atm_address_lat': np.float64,
    'atm_address_lon': np.float64,
    'home_add_lat': np.float32,
    'home_add_lon': np.float32,
    'work_add_lat': np.float32,
    'work_add_lon': np.float32,
}

# для экономии памяти будем загружать только часть атрибутов транзакций
usecols_train = ['customer_id','transaction_date','amount','country', 'city', 'currency', 'mcc', 'pos_adress_lat', 'pos_adress_lon', 'atm_address_lat', 'atm_address_lon','home_add_lat','home_add_lon','work_add_lat','work_add_lon']
usecols_test = ['customer_id','transaction_date','amount','country', 'city', 'currency', 'mcc', 'pos_address_lat', 'pos_address_lon', 'atm_address_lat', 'atm_address_lon']

## Читаем train_set, test_set, соединяем в один датасет

In [185]:
train = pd.read_csv('train_set.csv', dtype = dtypes, usecols = usecols_train)
train.rename(columns = {'pos_adress_lat': 'pos_address_lat', 'pos_adress_lon': 'pos_address_lon'}, inplace = True)

test = pd.read_csv('test_set.csv', dtype = dtypes, usecols = usecols_test)
submission = pd.DataFrame(test['customer_id'].unique(), columns = ['_ID_'])


# соединяем test/train в одном DataFrame
train['is_train'] = np.int32(1)
test['is_train'] = np.int32(0)
dt = pd.concat([train, test])

del train, test

In [4]:
#train = date_upgrade(train)
#train[train['transaction_date'].apply(lambda x: True if x.year==2016 else False)]

### Обрабатываем дату транзакции и категориальные признаки

In [5]:
def date_upgrade(dt):    
    dt['currency'] = dt['currency'].fillna(-1).astype(np.int32)
    dt['mcc'] = dt['mcc'].apply(lambda x: int(x.replace(',', ''))).astype(np.int32)
    dt['city'] = dt['city'].factorize()[0].astype(np.int32)
    dt['country'] = dt['country'].factorize()[0].astype(np.int32)

    # удаляем транзакции без даты
    dt.drop(dt[dt['transaction_date'].isnull()].index, axis = 0, inplace = True)
    dt['transaction_date'] = dt['transaction_date'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
    
    return dt

### Бизнесс календарь для 2017 года

In [6]:
bdays = pd.read_csv('bdaycaltruetrue.csv', header = None)
bdays = [datetime.datetime.strptime(x, '%Y-%m-%d') for x in bdays[0].tolist()]

### Фичи для даты

In [7]:
def data_features(dt):
    dt['weekday'] = dt['transaction_date'].dt.weekday.astype(np.int32)
    dt['busnessday'] = dt['transaction_date'].apply(lambda x: 0 if x in bdays else 1).factorize()[0].astype(np.int32)
    
    return dt

### Наличие машины

In [8]:
car = [5541,5511,5531,5533,5532]

def car_feature(dt):
    dt['car'] = dt['mcc'].apply(lambda x: 1 if x in car else 0).factorize()[0].astype(np.int32)
    #dt['car'] = dt.apply['car'](lambda x: 1 if x in dt[dt['car']==1]['customer_id'].tolist() else 0).astype(np.int32)
    
    return dt

### Приводим адрес транзакции для pos и atm-транзакций к единообразному виду

In [9]:
def pos_atm(dt):
    dt['is_atm'] = (~dt['atm_address_lat'].isnull()).astype(np.int32)
    dt['is_pos'] = (~dt['pos_address_lat'].isnull()).astype(np.int32)

    dt['address_lat'] = dt['atm_address_lat'].fillna(0) + dt['pos_address_lat'].fillna(0)
    dt['address_lon'] = dt['atm_address_lon'].fillna(0) + dt['pos_address_lon'].fillna(0)

    dt.drop(['atm_address_lat','atm_address_lon','pos_address_lat','pos_address_lon'], axis = 1, inplace = True)

    # удалим транзакции без адреса
    dt.drop(dt[((dt['address_lon'] == 0) & (dt['address_lon'] == 0))].index, axis = 0, inplace = True)
    
    return dt

### Генерируем целевые переменные

In [10]:
def generating_target(dt):
    lat = dt['home_add_lat'] - dt['address_lat']
    lon = dt['home_add_lon'] - dt['address_lon']
    dt['is_home'] = (np.sqrt((lat ** 2) + (lon ** 2)) <= 0.02).astype(np.int32)
    dt['has_home'] = (~dt['home_add_lon'].isnull()).astype(np.int32)

    lat = dt['work_add_lat'] - dt['address_lat']
    lon = dt['work_add_lon'] - dt['address_lon']
    dt['is_work'] = (np.sqrt((lat ** 2) + (lon ** 2)) <= 0.02).astype(np.int32)
    dt['has_work'] = (~dt['work_add_lon'].isnull()).astype(np.int32)

    dt.drop(['work_add_lat','work_add_lon','home_add_lat','home_add_lon'], axis = 1, inplace = True)
    
    return dt

### Генерируем категориальный признак для адреса

In [11]:
def address(dt):
    dt['address'] = dt['address_lat'].apply(lambda x: "%.02f" % x) + ';' + dt['address_lon'].apply(lambda x: "%.02f" % x)
    dt['address'] = dt['address'].factorize()[0].astype(np.int32)
    
    return dt

### Генерируем несколько абонентских фич

In [12]:
def add_features(dt):    
    # количество транзакций каждого клиента
    dt = dt.merge(dt.groupby('customer_id')['amount'].count().reset_index(name = 'tx'), how = 'left')
    dt['tx'] = dt['tx'].astype(np.int32)

    dt = dt.merge(dt.groupby(['customer_id','address'])['amount'].count().reset_index(name = 'tx_cust_addr'), how = 'left')
    dt['tx_cust_addr'] = dt['tx_cust_addr'].astype(np.int32)

    # какая часть транзакций клиента приходится на данный адрес
    dt['ratio1'] = dt['tx_cust_addr'] / dt['tx']
    dt['city'] = 
    
    return dt

In [151]:
coords.head()

,address_lat,address_lon,0,1,2,3,4,5,6,7,8,9,10
0,59.844072,30.179153,Nan,О’КЕЙ,2,улица Партизана Германа,Лигово,округ Урицк,Красносельский район,Санкт-Петербург,Северо-Западный федеральный округ,190000,РФ
1,59.858198,30.229024,Nan,О’Кей,31 к1,проспект Маршала Жукова,Юго-Запад,округ Юго-Запад,Красносельский район,Санкт-Петербург,Северо-Западный федеральный округ,190000,РФ
2,54.982358,82.892559,Nan,Гранит,5,площадь Карла Маркса,Ленинский район,Новосибирск,городской округ Новосибирск,Новосибирская область,СФО,630000,РФ
3,55.026997,82.920634,Nan,Своя компания,17,Красный проспект,Центральный район,Новосибирск,городской округ Новосибирск,Новосибирская область,СФО,630000,РФ
4,54.964984,82.928976,Nan,Nan,48,улица Ватутина,Кировский район,Новосибирск,городской округ Новосибирск,Новосибирская область,СФО,630000,РФ

In [150]:
coords = coords.drop('string', 1)

In [140]:
coords['string'] = coords['string'].apply(lambda x: 'Nan,'+x if len(x.split(','))<11 else ''+x)
coords['string'] = coords['string'].apply(lambda x: 'Nan,'+x if len(x.split(','))<11 else ''+x)
coords['string'] = coords['string'].apply(lambda x: 'Nan,'+x if len(x.split(','))<11 else ''+x)
coords['string'] = coords['string'].apply(lambda x: 'Nan,'+x if len(x.split(','))<11 else ''+x)

In [145]:
e=coords['string']
e = e.apply(lambda x: pd.Series(x.split(',')))

In [146]:
e = e.drop(e.columns[[11,12,13,14,15,16,17,18]], axis=1)

In [148]:
coords = pd.concat([coords, e], axis=1)

In [152]:
e.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Nan,О’КЕЙ,2,улица Партизана Германа,Лигово,округ Урицк,Красносельский район,Санкт-Петербург,Северо-Западный федеральный округ,190000,РФ
1,Nan,О’Кей,31 к1,проспект Маршала Жукова,Юго-Запад,округ Юго-Запад,Красносельский район,Санкт-Петербург,Северо-Западный федеральный округ,190000,РФ
2,Nan,Гранит,5,площадь Карла Маркса,Ленинский район,Новосибирск,городской округ Новосибирск,Новосибирская область,СФО,630000,РФ
3,Nan,Своя компания,17,Красный проспект,Центральный район,Новосибирск,городской округ Новосибирск,Новосибирская область,СФО,630000,РФ
4,Nan,Nan,48,улица Ватутина,Кировский район,Новосибирск,городской округ Новосибирск,Новосибирская область,СФО,630000,РФ

In [110]:
coords['string'] = coords['string'].apply(lambda x: pd.DataFrame(x.split(',')))

In [101]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4156417 entries, 0 to 4156416
Data columns (total 21 columns):
amount              float32
city                int32
country             int32
currency            int32
customer_id         object
is_train            int32
mcc                 int32
transaction_date    datetime64[ns]
weekday             int32
busnessday          int32
car                 int32
is_atm              int32
is_pos              int32
address_lat         float64
address_lon         float64
is_home             int32
has_home            int32
is_work             int32
has_work            int32
address             int32
string              object
dtypes: datetime64[ns](1), float32(1), float64(2), int32(15), object(2)
memory usage: 444.0+ MB

In [136]:
with open('train_coords.pcl', 'rb') as f:
   coords_train = pickle.load(f, encoding='latin1')

with open('test_coords.pcl', 'rb') as f:
   coords_test = pickle.load(f, encoding='latin1')

coords = pd.concat([coords_train, coords_test])
coords.columns = ['address_lat', 'address_lon','string']

In [187]:
dt = pd.merge(dt, coords, how='left', on=['address_lat', 'address_lon'])

In [73]:
dt[dt.string.apply(lambda x: type(x)==str)]

,amount,city,country,currency,customer_id,is_train,mcc,transaction_date,weekday,busnessday,...,address_lon,is_home,has_home,is_work,has_work,address,tx,tx_cust_addr,ratio1,string
973007,4.494472,4384,0,643,24485c68fc0dc95e576e4663e79c25ac,1,6011,2017-08-09,2,1,...,61.375,0,1,1,1,2214,234,15,0.064103,"16А, улица Рылеева, посёлок Уфимские Каменные ..."
973018,3.848732,4384,0,643,24485c68fc0dc95e576e4663e79c25ac,1,6011,2017-10-13,4,1,...,61.375,0,1,1,1,2214,234,15,0.064103,"16А, улица Рылеева, посёлок Уфимские Каменные ..."
2058454,3.978321,4171,0,643,8e7c42ec8d07250973267b3bf0f68f30,0,6011,2017-04-04,1,1,...,45.125,0,0,0,0,20398,107,5,0.046729,"5, улица Октябрьская, Ялга, городской округ Са..."
2058459,3.683675,4171,0,643,8e7c42ec8d07250973267b3bf0f68f30,0,6011,2017-04-03,0,1,...,45.125,0,0,0,0,20398,107,5,0.046729,"5, улица Октябрьская, Ялга, городской округ Са..."
2058500,4.174926,4171,0,643,7b63dd0323bd213224ad5eb32d096cf0,0,6011,2017-06-05,0,1,...,45.125,0,0,0,0,20398,60,2,0.033333,"5, улица Октябрьская, Ялга, городской округ Са..."
2153373,3.894478,4269,0,643,a84e118144186736fd63fc7284041aa5,0,6011,2017-07-15,5,0,...,56.250,0,0,0,0,5821,51,5,0.098039,"56, Комсомольский проспект, Громова, Свердловс..."

In [161]:
dt.tail()

,amount,city,country,currency,customer_id,is_train,mcc,transaction_date,weekday,busnessday,...,1,2,3,4,5,6,7,8,9,10
4156412,3.840620,4314,0,643,813ba66e2908a79c3b7ce3caa5ea1f0d,0,6011,2017-03-26,6,0,...,4,18684,426,4,211,102,41,5,5459,0
4156413,3.840620,4314,0,643,813ba66e2908a79c3b7ce3caa5ea1f0d,0,6011,2017-03-26,6,0,...,4,18684,426,4,211,102,41,5,5459,0
4156414,4.082534,4314,0,643,01dd11d12be651d9a5129ea15ad45318,0,6011,2017-06-12,0,0,...,4,18685,14985,4,211,102,41,5,273,0
4156415,2.606452,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-10-31,1,1,...,4,18684,426,4,211,102,41,5,5459,0
4156416,2.606452,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-10-31,1,1,...,4,18684,426,4,211,102,41,5,5459,0

In [188]:
dt.head()

,amount,city,country,currency,customer_id,is_train,mcc,transaction_date,weekday,busnessday,...,1,2,3,4,5,6,7,8,9,10
0,2.884034,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-07-15,5,0,...,О’КЕЙ,2,улица Партизана Германа,Лигово,округ Урицк,Красносельский район,Санкт-Петербург,Северо-Западный федеральный округ,190000,РФ
1,2.884034,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-07-15,5,0,...,О’КЕЙ,2,улица Партизана Германа,Лигово,округ Урицк,Красносельский район,Санкт-Петербург,Северо-Западный федеральный округ,190000,РФ
2,2.775633,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-10-27,4,1,...,О’КЕЙ,2,улица Партизана Германа,Лигово,округ Урицк,Красносельский район,Санкт-Петербург,Северо-Западный федеральный округ,190000,РФ
3,2.775633,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-10-27,4,1,...,О’КЕЙ,2,улица Партизана Германа,Лигово,округ Урицк,Красносельский район,Санкт-Петербург,Северо-Западный федеральный округ,190000,РФ
4,3.708368,1,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5992,2017-10-03,1,1,...,О’Кей,31 к1,проспект Маршала Жукова,Юго-Запад,округ Юго-Запад,Красносельский район,Санкт-Петербург,Северо-Западный федеральный округ,190000,РФ

In [189]:
dt[0] = dt[0].factorize()[0].astype(np.int32)
dt[1] = dt[1].factorize()[0].astype(np.int32)
dt[2] = dt[2].factorize()[0].astype(np.int32)
dt[3] = dt[3].factorize()[0].astype(np.int32)
dt[4] = dt[4].factorize()[0].astype(np.int32)
dt[5] = dt[5].factorize()[0].astype(np.int32)
dt[6] = dt[6].factorize()[0].astype(np.int32)
dt[7] = dt[7].factorize()[0].astype(np.int32)
dt[8] = dt[8].factorize()[0].astype(np.int32)
dt[9] = dt[9].factorize()[0].astype(np.int32)
dt[10] = dt[10].factorize()[0].astype(np.int32)

In [13]:
###Соединяем фичи

In [186]:
date_upgrade(dt)
data_features(dt)
car_feature(dt)
pos_atm(dt)
generating_target(dt)
address(dt)
add_features(dt)

,amount,city,country,currency,customer_id,is_train,mcc,transaction_date,weekday,busnessday,...,address_lat,address_lon,is_home,has_home,is_work,has_work,address,tx,tx_cust_addr,ratio1
0,2.884034,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-07-15,5,0,...,59.844072,30.179153,0,1,1,1,0,39,15,0.384615
1,2.775633,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-10-27,4,1,...,59.844072,30.179153,0,1,1,1,0,39,15,0.384615
2,3.708368,1,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5992,2017-10-03,1,1,...,59.858198,30.229024,1,1,0,1,1,39,5,0.128205
3,2.787498,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-09-09,5,0,...,59.844072,30.179153,0,1,1,1,0,39,15,0.384615
4,2.892510,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-07-06,3,1,...,59.844072,30.179153,0,1,1,1,0,39,15,0.384615
5,2.909018,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-08-23,2,1,...,59.844072,30.179153,0,1,1,1,0,39,15,0.384615
6,2.801228,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-07-29,5,0,...,59.844072,30.179153,0,1,1,1,0,39,15,0.384615
7,2.838200,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-07-15,5,0,...,59.844072,30.179153,0,1,1,1,0,39,15,0.384615
8,3.264740,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-08-18,4,1,...,59.844072,30.179153,0,1,1,1,0,39,15,0.384615
9,3.118792,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-05-13,5,0,...,59.844072,30.179153,0,1,1,1,0,39,15,0.384615
10,3.109393,2,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5411,2017-10-03,1,1,...,59.844072,30.179153,0,1,1,1,0,39,15,0.384615
11,0.299632,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5814,2017-06-16,4,1,...,54.982358,82.892559,0,1,0,0,2,42,12,0.285714
12,3.173338,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5812,2017-07-16,6,0,...,55.026997,82.920634,0,1,0,0,3,42,7,0.166667
13,2.636277,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5814,2017-05-13,5,0,...,54.964984,82.928976,0,1,0,0,4,42,1,0.023810
14,2.774078,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5813,2017-09-27,2,1,...,55.025451,82.926714,0,1,0,0,5,42,1,0.023810
15,2.764726,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5499,2017-05-28,6,0,...,54.988900,82.862242,1,1,0,0,6,42,6,0.142857
16,2.905196,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5814,2017-08-09,2,1,...,55.031843,82.919409,0,1,0,0,3,42,7,0.166667
17,2.082621,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5912,2017-05-14,6,0,...,55.031051,82.919158,0,1,0,0,3,42,7,0.166667
18,1.289195,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,4111,2017-08-09,2,1,...,53.978282,79.243318,0,1,0,0,7,42,4,0.095238
19,1.318607,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,4111,2017-07-16,6,0,...,53.978282,79.243318,0,1,0,0,7,42,4,0.095238
20,2.849170,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5411,2017-07-03,0,1,...,54.970228,82.861248,0,1,0,0,8,42,1,0.023810
21,1.853622,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5814,2017-07-18,1,1,...,54.982358,82.892559,0,1,0,0,2,42,12,0.285714
22,2.881898,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5411,2017-07-19,2,1,...,54.983245,82.891522,0,1,0,0,2,42,12,0.285714
23,2.230601,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5499,2017-08-11,4,1,...,54.988900,82.862242,1,1,0,0,6,42,6,0.142857
24,2.972522,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5411,2017-08-10,3,1,...,54.983245,82.891522,0,1,0,0,2,42,12,0.285714
25,1.692704,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5499,2017-05-13,5,0,...,54.988900,82.862242,1,1,0,0,6,42,6,0.142857
26,0.294878,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5814,2017-06-16,4,1,...,54.982358,82.892559,0,1,0,0,2,42,12,0.285714
27,3.279205,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5691,2017-05-12,4,1,...,54.983617,82.892727,0,1,0,0,2,42,12,0.285714
28,2.826417,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5499,2017-07-27,3,1,...,54.988900,82.862242,1,1,0,0,6,42,6,0.142857
29,2.262548,3,0,643,0e4c72f1c28452fe3bab0283381b8afd,1,5411,2017-05-12,4,1,...,54.994059,82.868267,0,1,0,0,9,42,1,0.023810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2172442,2.941748,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-12-06,2,1,...,51.561000,46.034000,0,0,0,0,5065,174,7,0.040230
2172443,2.605819,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-06-16,4,1,...,51.562000,46.035000,0,0,0,0,5065,174,7,0.040230
2172444,2.902983,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-06-14,2,1,...,51.561000,46.039000,0,0,0,0,13294,174,59,0.339080
2172445,2.615905,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-08-04,4,1,...,51.555000,46.039000,0,0,0,0,17024,174,6,0.034483
2172446,2.989622,4314,0,643,813ba66e2908a79c3b7ce3caa5ea1f0d,0,6011,2017-07-31,0,1,...,51.556000,46.038000,0,0,0,0,13294,244,6,0.024590
2172447,2.947767,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-11-07,1,1,...,51.555000,46.035000,0,0,0,0,4131,174,1,0.005747
2172448,2.584753,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-05-20,5,0,...,51.558000,46.039000,0,0,0,0,13294,174,59,0.339080
2172449,2.975150,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-10-17,1,1,...,51.561000,46.035000,0,0,0,0,5065,174,7,0.040230
2172450,2.592398,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-08-08,1,1,...,51.560000,46.040000,0,0,0,0,13294,174,59,0.339080
2172451,2.595494,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-05-25,3,1,...,51.560000,46.041000,0,0,0,0,13294,174,59,0.339080
2172452,2.953935,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-02-07,1,1,...,51.560000,46.039000,0,0,0,0,13294,174,59,0.339080
2172453,3.966277,4314,0,643,813ba66e2908a79c3b7ce3caa5ea1f0d,0,6011,2017-08-12,5,0,...,51.560000,46.041000,0,0,0,0,13294,244,6,0.024590
2172454,2.605032,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-11-28,1,1,...,51.559000,46.036000,0,0,0,0,13294,174,59,0.339080
2172455,3.184493,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-02-09,3,1,...,51.558000,46.037000,0,0,0,0,13294,174,59,0.339080
2172456,3.176190,4314,0,643,4321fbb20177aa510ff6d8167ddc9c7e,0,6011,2017-05-26,4,1,...,51.555000,46.038000,0,0,0,0,17024,51,1,0.019608
2172457,2.889750,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-06-17,5,0,...,51.555000,46.036000,0,0,0,0,17024,174,6,0.034483
2172458,2.603345,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-08-16,2,1,...,51.556000,46.040000,0,0,0,0,13294,174,59,0.339080
2172459,2.592317,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-08-11,4,1,...,51.555000,46.037000,0,0,0,0,17024,174,6,0.034483
2172460,2.936297,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-07-07,4,1,...,51.559000,46.035000,0,0,0,0,5065,174,7,0.040230
2172461,2.617376,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-07-26,2,1,...,51.559000,46.034000,0,0,0,0,5065,174,7,0.040230
2172462,2.698739,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-07-26,2,1,...,51.559000,46.035000,0,0,0,0,5065,174,7,0.040230
2172463,2.598340,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-07-04,1,1,...,51.562000,46.038000,0,0,0,0,13294,174,59,0.339080
2172464,2.593774,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-07-20,3,1,...,51.555000,46.040000,0,0,0,0,17024,174,6,0.034483
2172465,2.606598,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-07-30,6,0,...,51.560000,46.040000,0,0,0,0,13294,174,59,0.339080
2172466,3.130868,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-10-24,1,1,...,51.559000,46.041000,0,0,0,0,13294,174,59,0.339080
2172467,3.476367,4314,0,643,813ba66e2908a79c3b7ce3caa5ea1f0d,0,6011,2017-08-03,3,1,...,51.559000,46.037000,0,0,0,0,13294,244,6,0.024590
2172468,3.758654,4314,0,643,813ba66e2908a79c3b7ce3caa5ea1f0d,0,6011,2017-11-26,6,0,...,51.555000,46.039000,0,0,0,0,17024,244,1,0.004098
2172469,3.840620,4314,0,643,813ba66e2908a79c3b7ce3caa5ea1f0d,0,6011,2017-03-26,6,0,...,51.557000,46.040000,0,0,0,0,13294,244,6,0.024590
2172470,4.082534,4314,0,643,01dd11d12be651d9a5129ea15ad45318,0,6011,2017-06-12,0,0,...,51.560000,46.042000,0,0,0,0,13294,188,2,0.010638
2172471,2.606452,4314,0,643,881dc77f6fc5a4bf50755243e0043f5c,0,6011,2017-10-31,1,1,...,51.555000,46.041000,0,0,0,0,17024,174,6,0.034483

## Вспомогательные функции для оценки точности классификатора

In [15]:
def _best(x):
    ret = None
    for col in ys:
        pred = ('pred:%s' % col)
        if pred in x:
            i = (x[pred].idxmax())
            cols = [pred,'address_lat','address_lon']
            if col in x:
                cols.append(col)
            tmp = x.loc[i,cols]
            tmp.rename({
                'address_lat':'%s:add_lat' % col,
                'address_lon':'%s:add_lon' % col,
            }, inplace = True)
            if ret is None:
                ret = tmp
            else:
                ret = pd.concat([ret, tmp])
    return ret

In [16]:
def predict_proba(dt, ys = ['is_home', 'is_work']):
    for col in ys:
        pred = ('pred:%s' % col)
        dt[pred] = model[col].predict_proba(dt[xs])[:,1]
    return dt.groupby('customer_id').apply(_best).reset_index()

In [17]:
def score(dt, ys = ['is_home', 'is_work']):
    dt_ret = predict_proba(dt, ys)
    mean = 0.0
    for col in ys:
        col_mean = dt_ret[col].mean()
        mean += col_mean
    if len(ys) == 2:
        mean = mean / len(ys)
    return mean

### Признаки, на которых будем обучать модель

In [190]:
#xs = ['amount','currency','city','country','mcc','is_atm','is_pos','ratio1','weekday','busnessday', 'car', '1']
xs = [i for i in dt.columns.tolist() if i not in ['is_home', 'is_work','customer_id','transaction_date','is_train','address','transaction_date']]
ys = ['is_home', 'is_work']

In [183]:
dt.head()

,amount,city,country,currency,customer_id,is_train,mcc,transaction_date,weekday,busnessday,...,4,5,6,7,8,9,10,tx,tx_cust_addr,ratio1
0,2.884034,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-07-15,5,0,...,0,0,0,0,0,0,0,74,30,0.405405
1,2.884034,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-07-15,5,0,...,0,0,0,0,0,0,0,74,30,0.405405
2,2.775633,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-10-27,4,1,...,0,0,0,0,0,0,0,74,30,0.405405
3,2.775633,0,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5261,2017-10-27,4,1,...,0,0,0,0,0,0,0,74,30,0.405405
4,3.708368,1,0,643,0dc0137d280a2a82d2dc89282450ff1b,1,5992,2017-10-03,1,1,...,1,1,0,0,0,0,0,74,9,0.121622

In [19]:
#good_col = ['amount', 'atm_address_lat', 'atm_address_lon', 'currency', 'mcc', 'pos_address_lat','pos_address_lon']

In [20]:
#good_col = [i for i in dt.columns.tolist() if i not in ['target_home', 'target_work','customer_id','transaction_date']]

In [21]:
#good_col_test = [i for i in dt.columns.tolist() if i not in ['customer_id','transaction_date']]

# Создаем классификаторы
**Hint**: можно поигратьcя с гиперпараметрами для лучшего результата :)

In [165]:
model0 = {
    'is_home': CatBoostClassifier(n_estimators = 100),
    'is_work': CatBoostClassifier(n_estimators = 100),
}

In [176]:
dt = add_features(dt)

In [177]:
dt.columns

Index([          'amount',             'city',          'country',
               'currency',      'customer_id',         'is_train',
                    'mcc', 'transaction_date',          'weekday',
             'busnessday',              'car',           'is_atm',
                 'is_pos',      'address_lat',      'address_lon',
                'is_home',         'has_home',          'is_work',
               'has_work',          'address',                  0,
                        1,                  2,                  3,
                        4,                  5,                  6,
                        7,                  8,                  9,
                       10,               'tx',     'tx_cust_addr',
                 'ratio1'],
      dtype='object')

# Обучаем классификаторы

In [191]:
model = {}

# последовательно обучаем два классификатора
for col in ['is_home', 'is_work']:
    
    #выберем для обучение транзакции только тех клиентов из train, у которых хоть в одной транзакции указано место работы/жительства
    cust_train = dt[dt['is_train'] == 1].groupby('customer_id')[col.replace('is_','has_')].max()
    cust_train = cust_train[cust_train > 0].index
    
    #разобъем train на train/valid для валидации
    cust_train, cust_valid = train_test_split(cust_train, test_size = 0.1, shuffle = True, random_state = 2)
    
    train = pd.DataFrame(cust_train, columns = ['customer_id']).merge(dt, how = 'left')
    valid = pd.DataFrame(cust_valid, columns = ['customer_id']).merge(dt, how = 'left')

    print ("Training:", col)
    clf = sklearn.base.clone(model0[col])
    clf.fit(train[xs], train[col], verbose=True)
    model[col] = clf
    print ("Train accuracy:", score(train, ys = [col]))
    print ("Test accuracy:", score(valid, ys = [col]))
    print ()

Training: is_home
0:	learn: 0.6801137	total: 905ms	remaining: 1m 29s
1:	learn: 0.6679625	total: 1.82s	remaining: 1m 29s
2:	learn: 0.6566551	total: 2.69s	remaining: 1m 27s
3:	learn: 0.6461486	total: 3.6s	remaining: 1m 26s
4:	learn: 0.6364405	total: 4.46s	remaining: 1m 24s
5:	learn: 0.6273382	total: 5.34s	remaining: 1m 23s
6:	learn: 0.6189396	total: 6.13s	remaining: 1m 21s
7:	learn: 0.6110869	total: 6.9s	remaining: 1m 19s
8:	learn: 0.6038468	total: 7.68s	remaining: 1m 17s
9:	learn: 0.5969779	total: 8.52s	remaining: 1m 16s
10:	learn: 0.5906354	total: 9.32s	remaining: 1m 15s
11:	learn: 0.5847763	total: 10.1s	remaining: 1m 14s
12:	learn: 0.5793304	total: 10.9s	remaining: 1m 12s
13:	learn: 0.5741485	total: 11.7s	remaining: 1m 11s
14:	learn: 0.5693968	total: 12.5s	remaining: 1m 10s
15:	learn: 0.5644624	total: 13.3s	remaining: 1m 9s
16:	learn: 0.5605186	total: 14.2s	remaining: 1m 9s
17:	learn: 0.5567231	total: 15.1s	remaining: 1m 8s
18:	learn: 0.5530721	total: 15.9s	remaining: 1m 7s
19:	learn: 0.5495801	total: 16.7s	remaining: 1m 6s
20:	learn: 0.5466426	total: 17.5s	remaining: 1m 5s
21:	learn: 0.5435732	total: 18.3s	remaining: 1m 4s
22:	learn: 0.5402954	total: 19.1s	remaining: 1m 3s
23:	learn: 0.5376663	total: 19.8s	remaining: 1m 2s
24:	learn: 0.5351783	total: 20.6s	remaining: 1m 1s
25:	learn: 0.5327470	total: 21.5s	remaining: 1m 1s
26:	learn: 0.5302950	total: 22.3s	remaining: 1m
27:	learn: 0.5282243	total: 23.1s	remaining: 59.3s
28:	learn: 0.5261513	total: 23.9s	remaining: 58.5s
29:	learn: 0.5243554	total: 24.7s	remaining: 57.7s
30:	learn: 0.5226401	total: 25.5s	remaining: 56.7s
31:	learn: 0.5209821	total: 26.3s	remaining: 55.9s
32:	learn: 0.5194178	total: 27.1s	remaining: 55s
33:	learn: 0.5179416	total: 28s	remaining: 54.3s
34:	learn: 0.5165891	total: 28.8s	remaining: 53.4s
35:	learn: 0.5153279	total: 29.6s	remaining: 52.6s
36:	learn: 0.5140683	total: 30.5s	remaining: 51.9s
37:	learn: 0.5129293	total: 31.4s	remaining: 51.2s
38:	learn: 0.5116034	total: 32.2s	remaining: 50.3s
39:	learn: 0.5102203	total: 33s	remaining: 49.5s
40:	learn: 0.5091082	total: 33.8s	remaining: 48.7s
41:	learn: 0.5081771	total: 34.6s	remaining: 47.8s
42:	learn: 0.5072711	total: 35.5s	remaining: 47s
43:	learn: 0.5063558	total: 36.3s	remaining: 46.1s
44:	learn: 0.5053276	total: 37.1s	remaining: 45.3s
45:	learn: 0.5045509	total: 37.9s	remaining: 44.5s
46:	learn: 0.5036758	total: 38.7s	remaining: 43.6s
47:	learn: 0.5029552	total: 39.5s	remaining: 42.8s
48:	learn: 0.5022392	total: 40.3s	remaining: 41.9s
49:	learn: 0.5013757	total: 41.1s	remaining: 41.1s
50:	learn: 0.5007893	total: 42s	remaining: 40.3s
51:	learn: 0.5001521	total: 42.8s	remaining: 39.5s
52:	learn: 0.4995423	total: 43.6s	remaining: 38.6s
53:	learn: 0.4988907	total: 44.4s	remaining: 37.8s
54:	learn: 0.4983729	total: 45.2s	remaining: 37s
55:	learn: 0.4978365	total: 46s	remaining: 36.1s
56:	learn: 0.4972601	total: 47s	remaining: 35.4s
57:	learn: 0.4967733	total: 47.8s	remaining: 34.6s
58:	learn: 0.4963504	total: 48.6s	remaining: 33.8s
59:	learn: 0.4957544	total: 49.5s	remaining: 33s
60:	learn: 0.4952275	total: 50.3s	remaining: 32.2s
61:	learn: 0.4948043	total: 51.1s	remaining: 31.3s
62:	learn: 0.4944558	total: 51.9s	remaining: 30.5s
63:	learn: 0.4940928	total: 52.7s	remaining: 29.7s
64:	learn: 0.4937077	total: 53.5s	remaining: 28.8s
65:	learn: 0.4932967	total: 54.4s	remaining: 28s
66:	learn: 0.4927913	total: 55.2s	remaining: 27.2s
67:	learn: 0.4924389	total: 56s	remaining: 26.4s
68:	learn: 0.4920368	total: 56.8s	remaining: 25.5s
69:	learn: 0.4916063	total: 57.6s	remaining: 24.7s
70:	learn: 0.4912941	total: 58.4s	remaining: 23.9s
71:	learn: 0.4908817	total: 59.2s	remaining: 23s
72:	learn: 0.4903658	total: 1m	remaining: 22.2s
73:	learn: 0.4898848	total: 1m	remaining: 21.4s
74:	learn: 0.4895662	total: 1m 1s	remaining: 20.6s
75:	learn: 0.4891691	total: 1m 2s	remaining: 19.8s
76:	learn: 0.4889111	total: 1m 3s	remaining: 19s
77:	learn: 0.4886535	total: 1m 4s	remaining: 18.1s
78:	learn: 0.4883402	total: 1m 5s	remaining: 17.3s
79:	learn: 0.4881221	total: 1m 5s	remaining: 16.5s
80:	learn: 0.4878964	total: 1m 6s	remaining: 15.6s
81:	learn: 0.4875082	total: 1m 7s	remaining: 14.8s
82:	learn: 0.4871733	total: 1m 8s	remaining: 14s
83:	learn: 0.4869200	total: 1m 9s	remaining: 13.2s
84:	learn: 0.4866102	total: 1m 9s	remaining: 12.3s
85:	learn: 0.4863541	total: 1m 10s	remaining: 11.5s
86:	learn: 0.4861493	total: 1m 11s	remaining: 10.7s
87:	learn: 0.4859612	total: 1m 12s	remaining: 9.87s
88:	learn: 0.4856334	total: 1m 13s	remaining: 9.05s
89:	learn: 0.4854371	total: 1m 14s	remaining: 8.23s
90:	learn: 0.4851852	total: 1m 14s	remaining: 7.4s
91:	learn: 0.4847930	total: 1m 15s	remaining: 6.58s
92:	learn: 0.4846238	total: 1m 16s	remaining: 5.77s
93:	learn: 0.4843412	total: 1m 17s	remaining: 4.95s
94:	learn: 0.4841177	total: 1m 18s	remaining: 4.13s
95:	learn: 0.4838850	total: 1m 19s	remaining: 3.3s
96:	learn: 0.4836963	total: 1m 20s	remaining: 2.48s
97:	learn: 0.4835267	total: 1m 21s	remaining: 1.66s
98:	learn: 0.4833310	total: 1m 22s	remaining: 828ms
99:	learn: 0.4829964	total: 1m 22s	remaining: 0us
Train accuracy: 0.31766666666666665
Test accuracy: 0.325

Training: is_work
0:	learn: 0.6741444	total: 411ms	remaining: 40.7s
1:	learn: 0.6565976	total: 828ms	remaining: 40.6s
2:	learn: 0.6395333	total: 1.26s	remaining: 40.8s
3:	learn: 0.6245604	total: 1.66s	remaining: 39.8s
4:	learn: 0.6107284	total: 2.08s	remaining: 39.6s
5:	learn: 0.5967989	total: 2.51s	remaining: 39.3s
6:	learn: 0.5843825	total: 2.92s	remaining: 38.8s
7:	learn: 0.5731728	total: 3.32s	remaining: 38.2s
8:	learn: 0.5626392	total: 3.75s	remaining: 37.9s
9:	learn: 0.5527299	total: 4.17s	remaining: 37.5s
10:	learn: 0.5430266	total: 4.59s	remaining: 37.2s
11:	learn: 0.5341427	total: 5s	remaining: 36.7s
12:	learn: 0.5261096	total: 5.43s	remaining: 36.3s
13:	learn: 0.5186817	total: 5.85s	remaining: 35.9s
14:	learn: 0.5116288	total: 6.28s	remaining: 35.6s
15:	learn: 0.5047748	total: 6.71s	remaining: 35.2s
16:	learn: 0.4985623	total: 7.15s	remaining: 34.9s
17:	learn: 0.4927794	total: 7.58s	remaining: 34.5s
18:	learn: 0.4874990	total: 8.01s	remaining: 34.1s
19:	learn: 0.4824427	total: 8.41s	remaining: 33.6s
20:	learn: 0.4777568	total: 8.84s	remaining: 33.2s
21:	learn: 0.4734746	total: 9.27s	remaining: 32.9s
22:	learn: 0.4695499	total: 9.68s	remaining: 32.4s
23:	learn: 0.4657867	total: 10.1s	remaining: 32s
24:	learn: 0.4620647	total: 10.5s	remaining: 31.6s
25:	learn: 0.4586531	total: 11s	remaining: 31.2s
26:	learn: 0.4556434	total: 11.4s	remaining: 30.8s
27:	learn: 0.4526778	total: 11.8s	remaining: 30.4s
28:	learn: 0.4496916	total: 12.2s	remaining: 30s
29:	learn: 0.4472677	total: 12.7s	remaining: 29.6s
30:	learn: 0.4447038	total: 13.1s	remaining: 29.2s
31:	learn: 0.4423486	total: 13.6s	remaining: 28.9s
32:	learn: 0.4401899	total: 14s	remaining: 28.4s
33:	learn: 0.4381989	total: 14.5s	remaining: 28.1s
34:	learn: 0.4360598	total: 15s	remaining: 27.8s
35:	learn: 0.4341090	total: 15.5s	remaining: 27.5s
36:	learn: 0.4319316	total: 15.9s	remaining: 27.1s
37:	learn: 0.4299774	total: 16.3s	remaining: 26.7s
38:	learn: 0.4281927	total: 16.8s	remaining: 26.2s
39:	learn: 0.4266510	total: 17.2s	remaining: 25.8s
40:	learn: 0.4251600	total: 17.6s	remaining: 25.3s
41:	learn: 0.4238339	total: 18s	remaining: 24.9s
42:	learn: 0.4224285	total: 18.4s	remaining: 24.5s
43:	learn: 0.4210383	total: 18.9s	remaining: 24s
44:	learn: 0.4198270	total: 19.3s	remaining: 23.6s
45:	learn: 0.4186482	total: 19.7s	remaining: 23.2s
46:	learn: 0.4175370	total: 20.2s	remaining: 22.7s
47:	learn: 0.4164933	total: 20.6s	remaining: 22.3s
48:	learn: 0.4155192	total: 21s	remaining: 21.8s
49:	learn: 0.4145162	total: 21.4s	remaining: 21.4s
50:	learn: 0.4134836	total: 21.8s	remaining: 21s
51:	learn: 0.4126777	total: 22.3s	remaining: 20.5s
52:	learn: 0.4117786	total: 22.7s	remaining: 20.1s
53:	learn: 0.4109513	total: 23.1s	remaining: 19.7s
54:	learn: 0.4100853	total: 23.5s	remaining: 19.3s
55:	learn: 0.4093972	total: 24s	remaining: 18.8s
56:	learn: 0.4087358	total: 24.4s	remaining: 18.4s
57:	learn: 0.4081016	total: 24.8s	remaining: 18s
58:	learn: 0.4073780	total: 25.2s	remaining: 17.5s
59:	learn: 0.4066174	total: 25.6s	remaining: 17.1s

60:	learn: 0.4059578	total: 26.1s	remaining: 16.7s
61:	learn: 0.4053362	total: 26.5s	remaining: 16.2s
62:	learn: 0.4045944	total: 26.9s	remaining: 15.8s
63:	learn: 0.4041032	total: 27.3s	remaining: 15.4s
64:	learn: 0.4035788	total: 27.7s	remaining: 14.9s
65:	learn: 0.4029613	total: 28.2s	remaining: 14.5s
66:	learn: 0.4024336	total: 28.6s	remaining: 14.1s
67:	learn: 0.4019699	total: 29s	remaining: 13.6s
68:	learn: 0.4013854	total: 29.4s	remaining: 13.2s
69:	learn: 0.4008786	total: 29.9s	remaining: 12.8s
70:	learn: 0.4003640	total: 30.3s	remaining: 12.4s
71:	learn: 0.3999225	total: 30.8s	remaining: 12s
72:	learn: 0.3993800	total: 31.3s	remaining: 11.6s
73:	learn: 0.3989524	total: 31.8s	remaining: 11.2s
74:	learn: 0.3983471	total: 32.2s	remaining: 10.7s
75:	learn: 0.3977580	total: 32.6s	remaining: 10.3s
76:	learn: 0.3972660	total: 33s	remaining: 9.85s
77:	learn: 0.3968712	total: 33.4s	remaining: 9.42s
78:	learn: 0.3965215	total: 33.8s	remaining: 8.99s
79:	learn: 0.3961064	total: 34.2s	remaining: 8.56s
80:	learn: 0.3956392	total: 34.6s	remaining: 8.13s
81:	learn: 0.3951904	total: 35.1s	remaining: 7.7s
82:	learn: 0.3949659	total: 35.5s	remaining: 7.27s
83:	learn: 0.3946189	total: 36s	remaining: 6.85s
84:	learn: 0.3942464	total: 36.4s	remaining: 6.42s
85:	learn: 0.3938222	total: 36.8s	remaining: 5.99s
86:	learn: 0.3931537	total: 37.2s	remaining: 5.56s
87:	learn: 0.3928583	total: 37.7s	remaining: 5.14s
88:	learn: 0.3926059	total: 38.1s	remaining: 4.71s
89:	learn: 0.3923597	total: 38.6s	remaining: 4.29s
90:	learn: 0.3920236	total: 39s	remaining: 3.86s
91:	learn: 0.3916909	total: 39.5s	remaining: 3.43s
92:	learn: 0.3912462	total: 39.9s	remaining: 3s
93:	learn: 0.3909751	total: 40.3s	remaining: 2.57s
94:	learn: 0.3907454	total: 40.7s	remaining: 2.14s
95:	learn: 0.3904993	total: 41.2s	remaining: 1.72s
96:	learn: 0.3902542	total: 41.6s	remaining: 1.29s
97:	learn: 0.3899243	total: 42.1s	remaining: 858ms
98:	learn: 0.3895920	total: 42.5s	remaining: 429ms
99:	learn: 0.3892645	total: 42.9s	remaining: 0us
Train accuracy: 0.26540284360189575
Test accuracy: 0.2616279069767442

# Predict

In [192]:
cust_test = dt[dt['is_train'] == 0]['customer_id'].unique()
test = pd.DataFrame(cust_test, columns = ['customer_id']).merge(dt, how = 'left')
test = predict_proba(test)
test.rename(columns = {
        'customer_id':'_ID_',
        'is_home:add_lat': '_HOME_LAT_',
        'is_home:add_lon': '_HOME_LON_',
        'is_work:add_lat': '_WORK_LAT_',
        'is_work:add_lon': '_WORK_LON_'}, inplace = True)
test = test[['_ID_', '_WORK_LAT_', '_WORK_LON_', '_HOME_LAT_', '_HOME_LON_']]

# Формируем submission-файл

In [193]:
# Заполняем пропуски
submission = submission.merge(test, how = 'left').fillna(0)

# Пишем файл submission
submission.to_csv('baseline-very-simple111.csv', index = False)